In [ ]:
import numpy as np

In [ ]:
a = [1, 2.0, '3']
a

In [ ]:
ar1 = np.array(object = a)
ar1

In [ ]:
type(ar1)

In [ ]:
ar1.shape

In [ ]:
ar1.size

In [ ]:
ar1.dtype

In [ ]:
ar1.astype(int)

In [ ]:
ar1.astype(float)

In [ ]:
ar1.astype(float).astype(int)

In [ ]:
ar1.astype(float).astype(int).astype(str)

In [ ]:
ar1.astype(float).astype(int).astype(str).astype(int)

In [ ]:
np.array(object = a, dtype = int)

In [ ]:
np.array(object = a, dtype = float)

In [ ]:
np.array(object = a, dtype = str)

In [ ]:
## 중요해요~
np.array(object = a, dtype = object)

In [ ]:
list(range(6))

In [ ]:
list(range(1, 6))

In [ ]:
list(range(1, 6, 2))

In [ ]:
np.arange(6)

In [ ]:
np.arange(1, 6)

In [ ]:
np.arange(1, 6, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
np.arange(0, 1.1, 0.1)

In [ ]:
np.linspace(0, 1, 10+1)

In [ ]:
np.linspace(80, 75, 30+1)

In [ ]:
np.tile(A = ar1, reps = 2)

In [ ]:
np.repeat(a = ar1, repeats = 2)

In [ ]:
ar1 = np.arange(1, 12, 2)
ar1

In [ ]:
ar1[0]

In [ ]:
type(ar1[0])

In [ ]:
ar1[1]

In [ ]:
ar1[-1]

In [ ]:
[i for i in dir(np) if 'int' in i]

In [ ]:
ar1[:3]

In [ ]:
ar1[3:]

In [ ]:
ar1[0:1]

In [ ]:
ar1[0]

In [ ]:
ar1[[1, 4, 2]]

In [ ]:
ar1[[1, 1, 1]]

In [ ]:
b = [[1, 2, 3], [4, 5, 6]]
b

In [ ]:
type(b)

In [ ]:
ar2 = np.array(b)

In [ ]:
ar2

In [ ]:
type(ar2)

In [ ]:
ar2.size

In [ ]:
ar2.dtype

In [ ]:
ar1 = np.arange(12)
ar1

In [ ]:
ar1.reshape(4, 3)

In [ ]:
ar1.reshape(4, 3, order = 'F')

In [ ]:
ar2 = ar1.reshape(4, -1)
ar2

In [ ]:
ar2

In [ ]:
ar2[0, 0]

In [ ]:
ar2[1, 1]

In [ ]:
ar2[0:2, 0:2]

In [ ]:
ar2

In [ ]:
ar2[:, 1:3]

In [ ]:
ar2[:, [2,1]]

In [ ]:
ar1 = np.arange(3)
ar1

In [ ]:
ar2 = ar1.reshape(-1, 1)
ar2

In [ ]:
ar1 + 1

In [ ]:
ar2 * 2

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = [1, 2.0, '3']

In [ ]:
np.array(a)

In [ ]:
sr = pd.Series(a)
sr

In [ ]:
type(sr)

In [ ]:
sr.shap

In [ ]:
sr.shape

In [ ]:
sr.dtype

In [ ]:
sr.values

In [ ]:
sr.index

In [ ]:
sr

In [ ]:
for i in sr:
    print(type(i))

In [ ]:
sr + 1

In [ ]:
sr + '1'

In [ ]:
sr.astype(int)

In [ ]:
sr.astype(float) + 1

In [ ]:
sr.astype(str)

In [ ]:
sr = sr.astype(float)

In [ ]:
sr

In [ ]:
for i in sr:
    print(type(i))

In [ ]:
pd.Series(data = a)

In [ ]:
pd.Series(data = a, index = ['a', 'b', 'c'])

In [ ]:
pd.Series(data = {'a': 1, 'b': 3, 'c': 5})

In [ ]:
sr.index

In [ ]:
sr.index = [1, 2, 3]
sr

In [ ]:
sr.index = [a, b, c]
sr

In [ ]:
sr.index = ['a', 'b', 'c']

In [ ]:
sr

In [ ]:
sr[0]

In [ ]:
sr['a']

In [ ]:
sr[0:2]

In [ ]:
sr['a' : 'c']

In [ ]:
sr0 = pd.Series(data = a, index = ['b', 'c', 'a'])
sr0

In [ ]:
sr0['a':'c']

In [ ]:
sr0['b':'a']

In [ ]:
sr[[1,2]]

In [ ]:
sr[['b','c']]

In [ ]:
sr

In [ ]:
sr.iloc[0]

In [ ]:
sr.iloc[[0]]

In [ ]:
sr.iloc[[0, 2]]

In [ ]:
sr.iloc[0:2]

In [ ]:
sr

In [ ]:
sr.loc['a']

In [ ]:
sr.loc[['a']]

In [ ]:
sr.loc[['a', 'c']]

In [ ]:
sr.loc[['a':'c']]

In [ ]:
sr.loc['a':'c']

In [ ]:
sr1 = pd.Series(data = range(0,3), index = range(1, 4))
sr1

In [ ]:
sr1[0]

In [ ]:
sr1.iloc[0]

In [ ]:
sr1.loc[1]

In [ ]:
sr2 = pd.Series(data = range(0,3), index = np.tile(1, 3))
sr2

In [ ]:
sr2.loc[1]

In [ ]:
sr2.iloc[0]

In [ ]:
sr

In [ ]:
sr >= 1

In [ ]:
sr >= 1 and sr < 3

In [ ]:
for i in sr:
    print(i >= 1 and i < 3)

In [ ]:
sr >= 1 & sr < 3

In [ ]:
sr

In [ ]:
(sr >= 1) & (sr < 3)

In [ ]:
(sr >= 1) | (sr < 3)

In [ ]:
~((sr >= 1) | (sr < 3))

In [ ]:
sr >= 1

In [ ]:
sr.loc[sr >= 1]

In [ ]:
sr.loc[(sr >= 1) & (sr < 3)]

In [ ]:
sr1

In [ ]:
sr3 = sr1

In [ ]:
sr3

In [ ]:
sr3.iloc[0] = 3

In [ ]:
sr3

In [ ]:
sr1

In [ ]:
id(sr1)

In [ ]:
id(sr3) # sr1과 동일 주소

In [ ]:
sr4 = sr1.copy()

In [ ]:
id(sr4)   # sr1과 sr4는 다른 주소를 가리키고 있다.

In [ ]:
sr4.iloc[0] = 0

In [ ]:
sr4

In [ ]:
sr1

In [ ]:
b = [[1, 2], [3, 4], [5, 6]]
b

In [ ]:
np.array(b)

In [ ]:
df = pd.DataFrame(b)

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df = pd.DataFrame(data = b, index = range(1, 4), columns = ['A', 'B'])
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[0:2, :]

In [ ]:
df.iloc[:, 0:2]

In [ ]:
df.iloc[:, [1, 0]]

In [ ]:
df

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1:2]

In [ ]:
df.loc[1:2, :]

In [ ]:
df.loc[:, 'A':'B']

In [ ]:
df.loc[:, ['B', 'A']]

In [ ]:
'C:\Users\user\Documents\LS-main\live'

In [ ]:
'C:\\Users\\user\\Documents\\LS-main\\live'

In [ ]:
'C:/Users/user/Documents/LS-main/live'

In [ ]:
r'C:\Users\user\Documents\LS-main\live'

In [2]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [4]:
os.getcwd()

'C:\\Users\\user\\Documents\\LS-main\\live'

In [5]:
os.chdir('C:\\Users\\user\\Documents\\LS-main\\data')

In [6]:
os.getcwd()

'C:\\Users\\user\\Documents\\LS-main\\data'

In [5]:
os.chdir('..')

In [6]:
os.getcwd()

'C:\\Users\\user\\Documents\\LS-main'

In [7]:
os.chdir('./live')

In [8]:
os.chdir('../data')

In [9]:
os.getcwd()

'C:\\Users\\user\\Documents\\LS-main\\data'

In [10]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx']

In [11]:
os.mkdir('./temp')

In [12]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx',
 'temp']

In [13]:
os.rmdir('./temp')  ## 비워있는 폴더만 지울수 있고, 휴지통에 남지 않는다.

In [14]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx']

In [15]:
[file for file in os.listdir() if '.xlsx' in file]

['APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx']

In [16]:
[file for file in os.listdir() if '.csv' in file]

['APT_Detail_Seoul_2022.csv',
 'APT_Merged.csv',
 'APT_Price_Seoul_2020_2022.csv']

In [18]:
[file for file in os.listdir() if '2022' in file]

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx']

In [26]:
pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
              sheet_name = '2022년',
              usecols = range(1, 12),
              skiprows = 3,
              thousands = ',')

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004.0,2022-01-14,150.48,3,200000
1,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015.0,2022-01-11,18.02,10,20000
2,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014.0,2022-01-03,16.98,7,19500
3,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014.0,2022-01-08,16.98,11,19000
4,11110,CS타워,서울특별시,종로구,충신동,62-2,2011.0,2022-01-11,22.17,12,13500
...,...,...,...,...,...,...,...,...,...,...,...
12200,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
12201,11740,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
12202,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
12203,11740,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
12204,11740,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [27]:
%time df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
               sheet_name = '2022년')

IndentationError: unexpected indent (2598061132.py, line 2)

In [29]:
%time df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
               sheet_name = '2020~2022년')

CPU times: total: 15.2 s
Wall time: 15.2 s

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  datetime64[ns]
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 11.7+ MB

In [31]:
%time df1.to_excel('test.xlsx', index = False)

CPU times: total: 35.1 s
Wall time: 35.1 s

In [112]:
type(df)

pandas.core.frame.DataFrame

In [116]:
aa = list(range(3))
aa

[0, 1, 2]

In [10]:
dfAll = pd.DataFrame()

for i in range(3):
    df = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
                       sheet_name = i,
                       usecols = range(1, 12),
                       skiprows = 3,
                       nrows = 10)
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [11]:
dfAll

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2022-01-14,150.4800,3,"200,000"
1,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015,2022-01-11,18.0200,10,"20,000"
2,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-03,16.9800,7,"19,500"
3,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-08,16.9800,11,"19,000"
4,11110,CS타워,서울특별시,종로구,충신동,62-2,2011,2022-01-11,22.1700,12,"13,500"
5,11110,아남1,서울특별시,종로구,명륜2가,4,1995,2022-01-19,84.9000,18,"118,000"
6,11110,종로아인스빌,서울특별시,종로구,숭인동,1392-1,2013,2022-01-06,12.1500,12,"10,500"
7,11110,삼전솔하임4차,서울특별시,종로구,숭인동,318-2,2014,2022-01-06,15.0900,11,"15,700"
8,11110,종로센트레빌,서울특별시,종로구,숭인동,2-1,2008,2022-01-08,84.9200,11,"109,000"
9,11110,동문타운,서울특별시,종로구,숭인동,181-105,2000,2022-01-15,59.5600,-1,"54,000"
10,11110,청운현대,서울특별시,종로구,청운동,56-45,2000,2021-01-14,129.7600,2,"130,000"
11,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2021-01-07,144.5200,6,"150,000"
12,11110,경희궁의아침2단지,서울특별시,종로구,내수동,71,2004,2021-01-15,174.5500,4,"175,000"
13,11110,경희궁의아침2단지,서울특별시,종로구,내수동,71,2004,2021-01-15,174.5500,4,"175,000"
14,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2021-01-17,123.1300,13,"180,000"
15,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2021-01-17,123.1300,13,"180,000"
16,11110,대성스카이렉스,서울특별시,종로구,견지동,110,2008,2021-01-25,149.8000,11,"127,000"
17,11110,현대뜨레비앙,서울특별시,종로구,익선동,55,2003,2021-01-07,45.5000,5,"29,800"
18,11110,현대뜨레비앙,서울특별시,종로구,익선동,55,2003,2021-01-26,45.5000,4,"29,500"
19,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2021-01-25,84.9800,9,"86,500"
20,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.9700,6,"100,000"
21,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.3300,2,"162,000"
22,11110,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.9100,11,"88,000"
23,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.4300,4,"130,000"
24,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.0900,8,"149,000"
25,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-10,84.7000,8,"52,000"
26,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-12,84.7000,14,"69,000"
27,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-15,84.7000,12,"72,000"
28,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-30,106.8100,11,"84,800"
29,11110,포레스트힐시티,서울특별시,종로구,효제동,65-2,2017,2020-01-10,22.0584,9,"25,000"

In [43]:
## 중요

In [46]:
dfs = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
                    sheet_name = None,
                    # usecols = range(1, 12),
                    # skiprows = 3,
                    nrows = 10)

In [121]:
dfs['2022년']

,Unnamed: 0,데이터셋 소개,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,- 2022년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
3,NaN,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2022-01-14,150.48,3,"200,000"
4,NaN,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015,2022-01-11,18.02,10,"20,000"
5,NaN,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-03,16.98,7,"19,500"
6,NaN,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-08,16.98,11,"19,000"
7,NaN,11110,CS타워,서울특별시,종로구,충신동,62-2,2011,2022-01-11,22.17,12,"13,500"
8,NaN,11110,아남1,서울특별시,종로구,명륜2가,4,1995,2022-01-19,84.9,18,"118,000"
9,NaN,11110,종로아인스빌,서울특별시,종로구,숭인동,1392-1,2013,2022-01-06,12.15,12,"10,500"

In [47]:
dfs

{'2022년':    Unnamed: 0                                            데이터셋 소개 Unnamed: 2
 0         NaN  - 2022년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...        NaN  \
 1         NaN                                                NaN        NaN
 2         NaN                                               지역코드        아파트
 3         NaN                                              11110  경희궁의아침3단지
 4         NaN                                              11110      아르젠종로
 5         NaN                                              11110      이화에수풀
 6         NaN                                              11110      이화에수풀
 7         NaN                                              11110       CS타워
 8         NaN                                              11110        아남1
 9         NaN                                              11110     종로아인스빌

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  Unnamed: 8
 0        NaN        NaN        NaN        NaN        NaN         NaN  \
 1        NaN        NaN        NaN        NaN        NaN         NaN
 2        시도명        시군구        법정동         지번       건축년도         거래일
 3      서울특별시        종로구        내수동         72       2004  2022-01-14
 4      서울특별시        종로구        연지동      163-3       2015  2022-01-11
 5      서울특별시        종로구        연건동     195-10       2014  2022-01-03
 6      서울특별시        종로구        연건동     195-10       2014  2022-01-08
 7      서울특별시        종로구        충신동       62-2       2011  2022-01-11
 8      서울특별시        종로구       명륜2가          4       1995  2022-01-19
 9      서울특별시        종로구        숭인동     1392-1       2013  2022-01-06

   Unnamed: 9 Unnamed: 10 Unnamed: 11
 0        NaN         NaN         NaN
 1        NaN         NaN         NaN
 2       전용면적           층        거래금액
 3     150.48           3     200,000
 4      18.02          10      20,000
 5      16.98           7      19,500
 6      16.98          11      19,000
 7      22.17          12      13,500
 8       84.9          18     118,000
 9      12.15          12      10,500  ,
 '2021년':    Unnamed: 0                                            데이터셋 소개
 0         NaN  - 2021년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...  \
 1         NaN                                                NaN
 2         NaN                                               지역코드
 3         NaN                                              11110
 4         NaN                                              11110
 5         NaN                                              11110
 6         NaN                                              11110
 7         NaN                                              11110
 8         NaN                                              11110
 9         NaN                                              11110

        Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
 0             NaN        NaN        NaN        NaN        NaN        NaN  \
 1             NaN        NaN        NaN        NaN        NaN        NaN
 2             아파트        시도명        시군구        법정동         지번       건축년도
 3            청운현대      서울특별시        종로구        청운동      56-45       2000
 4  광화문스페이스본(106동)      서울특별시        종로구        사직동        9-1       2008
 5       경희궁의아침2단지      서울특별시        종로구        내수동         71       2004
 6       경희궁의아침2단지      서울특별시        종로구        내수동         71       2004
 7       경희궁의아침3단지      서울특별시        종로구        내수동         72       2004
 8       경희궁의아침3단지      서울특별시        종로구        내수동         72       2004
 9         대성스카이렉스      서울특별시        종로구        견지동        110       2008

    Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
 0         NaN        NaN         NaN         NaN
 1         NaN        NaN         NaN         NaN
 2         거래일       전용면적           층        거래금액
 3  2021-01-14     129.76           2     130,000
 4  2021-01-07     144.52           6     150,000
 5  2021-01-15     174.55           4     175,000
 6  2021-01-15     174.55           4     175,000
 7  2021-01-17     123.13          13     180,000
 8  2021-01-17     123.13          13     180,000
 9  2021-01-25      149.8          11     127,000  ,
 '2020년':    Unnamed: 0                                            데이터셋 소개
 0         NaN  - 2020년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...  \
 1         NaN                                                NaN
 2         NaN                                               지역코드
 3         NaN                                              11110
 4         NaN                                              11110
 5         NaN                                              11110
 6         NaN                                              11110
 7         NaN                                              11110
 8         NaN                                              11110
 9         NaN                                              11110

        Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
 0             NaN        NaN        NaN        NaN        NaN        NaN  \
 1             NaN        NaN        NaN        NaN        NaN        NaN
 2             아파트        시도명        시군구        법정동         지번       건축년도
 3     신동아블루아광화문의꿈      서울특별시        종로구        필운동        254       2007
 4  광화문스페이스본(106동)      서울특별시        종로구        사직동        9-1       2008
 5           세종로대우      서울특별시        종로구        내수동        167       1994
 6            킹스매너      서울특별시        종로구        내수동     110-15       2004
 7        경희궁파크팰리스      서울특별시        종로구        내수동         95       2003
 8         효성쥬얼리시티      서울특별시        종로구        인의동       48-2       2006
 9         효성쥬얼리시티      서울특별시        종로구        인의동       48-2       2006

    Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
 0         NaN        NaN         NaN         NaN
 1         NaN        NaN         NaN         NaN
 2         거래일       전용면적           층        거래금액
 3  2020-01-03     111.97           6     100,000
 4  2020-01-02     163.33           2     162,000
 5  2020-01-06     109.91          11      88,000
 6  2020-01-09     194.43           4     130,000
 7  2020-01-20     148.09           8     149,000
 8  2020-01-10       84.7           8      52,000
 9  2020-01-12       84.7          14      69,000  ,
 '2020~2022년':     지역코드             아파트    시도명  시군구  법정동      지번  건축년도        거래일      전용면적
 0  11110     신동아블루아광화문의꿈  서울특별시  종로구  필운동     254  2007 2020-01-03  111.9700  \
 1  11110  광화문스페이스본(106동)  서울특별시  종로구  사직동     9-1  2008 2020-01-02  163.3300
 2  11110           세종로대우  서울특별시  종로구  내수동     167  1994 2020-01-06  109.9100
 3  11110            킹스매너  서울특별시  종로구  내수동  110-15  2004 2020-01-09  194.4300
 4  11110        경희궁파크팰리스  서울특별시  종로구  내수동      95  2003 2020-01-20  148.0900
 5  11110         효성쥬얼리시티  서울특별시  종로구  인의동    48-2  2006 2020-01-10   84.7000
 6  11110         효성쥬얼리시티  서울특별시  종로구  인의동    48-2  2006 2020-01-12   84.7000
 7  11110         효성쥬얼리시티  서울특별시  종로구  인의동    48-2  2006 2020-01-15   84.7000
 8  11110         효성쥬얼리시티  서울특별시  종로구  인의동    48-2  2006 2020-01-30  106.8100
 9  11110         포레스트힐시티  서울특별시  종로구  효제동    65-2  2017 2020-01-10   22.0584

     층     거래금액
 0   6  100,000
 1   2  162,000
 2  11   88,000
 3   4  130,000
 4   8  149,000
 5   8   52,000
 6  14   69,000
 7  12   72,000
 8  11   84,800
 9   9   25,000  }

In [117]:
list(dfs.keys())

['2022년', '2021년', '2020년', '2020~2022년']

In [122]:
dfAll = pd.DataFrame()
for key in list(dfs.keys()):
    df = dfs[key]
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [123]:
dfAll

,Unnamed: 0,데이터셋 소개,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,NaN,- 2022년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,NaN,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,NaN,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2022-01-14,150.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,NaN,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015,2022-01-11,18.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,NaN,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-03,16.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,NaN,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014,2022-01-08,16.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,NaN,11110,CS타워,서울특별시,종로구,충신동,62-2,2011,2022-01-11,22.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8,NaN,11110,아남1,서울특별시,종로구,명륜2가,4,1995,2022-01-19,84.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9,NaN,11110,종로아인스빌,서울특별시,종로구,숭인동,1392-1,2013,2022-01-06,12.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
10,NaN,- 2021년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
12,NaN,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13,NaN,11110,청운현대,서울특별시,종로구,청운동,56-45,2000,2021-01-14,129.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
14,NaN,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2021-01-07,144.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
15,NaN,11110,경희궁의아침2단지,서울특별시,종로구,내수동,71,2004,2021-01-15,174.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16,NaN,11110,경희궁의아침2단지,서울특별시,종로구,내수동,71,2004,2021-01-15,174.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
17,NaN,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2021-01-17,123.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
18,NaN,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2021-01-17,123.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
19,NaN,11110,대성스카이렉스,서울특별시,종로구,견지동,110,2008,2021-01-25,149.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
20,NaN,- 2020년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
22,NaN,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
23,NaN,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
24,NaN,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
25,NaN,11110,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
26,NaN,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
27,NaN,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
28,NaN,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-10,84.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
29,NaN,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006,2020-01-12,84.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.9700,6.0,"100,000"
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.3300,2.0,"162,000"
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.9100,11.0,"88,000"
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.4300,4.0,"130,000"
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.0900,8.0,"149,000"
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-10,84.7000,8.0,"52,000"
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-12,84.7000,14.0,"69,000"
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-15,84.7000,12.0,"72,000"
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-30,106.8100,11.0,"84,800"
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,포레스트힐시티,서울특별시,종로구,효제동,65-2,2017.0,2020-01-10,22.0584,9.0,"25,000"

In [124]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   데이터셋 소개      27 non-null     object
 2   Unnamed: 2   24 non-null     object
 3   Unnamed: 3   24 non-null     object
 4   Unnamed: 4   24 non-null     object
 5   Unnamed: 5   24 non-null     object
 6   Unnamed: 6   24 non-null     object
 7   Unnamed: 7   24 non-null     object
 8   Unnamed: 8   24 non-null     object
 9   Unnamed: 9   24 non-null     object
 10  Unnamed: 10  24 non-null     object
 11  Unnamed: 11  24 non-null     object
 12  지역코드         10 non-null     float64
 13  아파트          10 non-null     object
 14  시도명          10 non-null     object
 15  시군구          10 non-null     object
 16  법정동          10 non-null     object
 17  지번           10 non-null     object
 18  건축년도         10 non-null     float64
 19  거래일          10 non-null     datetime64[ns]
 20  전용면적         10 non-null     float64
 21  층            10 non-null     float64
 22  거래금액         10 non-null     object
dtypes: datetime64[ns](1), float64(5), object(17)
memory usage: 7.3+ KB

In [63]:
df1.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [64]:
df1.head(n = 10)

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.9700,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.3300,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.9100,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.4300,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.0900,8,"149,000"
5,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-10,84.7000,8,"52,000"
6,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-12,84.7000,14,"69,000"
7,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-15,84.7000,12,"72,000"
8,11110,효성쥬얼리시티,서울특별시,종로구,인의동,48-2,2006.0,2020-01-30,106.8100,11,"84,800"
9,11110,포레스트힐시티,서울특별시,종로구,효제동,65-2,2017.0,2020-01-10,22.0584,9,"25,000"

In [65]:
df1.tail()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
139914,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,11740,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,11740,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,11740,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

In [66]:
df1.tail(n = 10)

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
139909,11740,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012.0,2022-12-16,16.685,9,"8,500"
139910,11740,현대웰하임(201동),서울특별시,강동구,길동,343-2,2012.0,2022-12-19,13.109,5,"10,000"
139911,11740,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012.0,2022-12-20,17.075,11,"11,000"
139912,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-02,58.680,25,"76,000"
139913,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.520,8,"53,000"
139914,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.520,8,"53,000"
139915,11740,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.220,10,"135,000"
139916,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.640,17,"77,000"
139917,11740,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.920,18,"145,500"
139918,11740,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.990,7,"55,000"

In [80]:
df1.sample(n = 5, random_state = 1)

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
76571,11110,두산,서울특별시,종로구,창신동,232,1999.0,2020-12-05,84.90,4,"94,000"
82169,11590,사당자이,서울특별시,동작구,사당동,1139,1999.0,2020-12-08,59.89,1,"75,000"
97361,11620,관악산휴먼시아2단지,서울특별시,관악구,신림동,1735,2008.0,2021-03-31,84.97,13,"80,500"
76151,11710,아남,서울특별시,송파구,오금동,67,1992.0,2020-11-05,71.26,4,"87,700"
110470,11650,서초삼성래미안,서울특별시,서초구,서초동,1641-1,2001.0,2021-06-21,150.25,15,"238,500"

In [81]:
[file for file in os.listdir() if '.csv' in file]

['APT_Detail_Seoul_2022.csv',
 'APT_Merged.csv',
 'APT_Price_Seoul_2020_2022.csv']

In [125]:
fileName = 'APT_Price_Seoul_2020_2022.csv'

In [126]:
pd.read_csv(fileName)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 0: invalid start byte

In [134]:
with open(file = fileName, mode = 'rb') as file:
    text = file.read()

In [135]:
type(text)

bytes

In [128]:
text[:100]

b'\xc1\xf6\xbf\xaa\xc4\xda\xb5\xe5,\xbe\xc6\xc6\xc4\xc6\xae,\xbd\xc3\xb5\xb5\xb8\xed,\xbd\xc3\xb1\xba\xb1\xb8,\xb9\xfd\xc1\xa4\xb5\xbf,\xc1\xf6\xb9\xf8,\xb0\xc7\xc3\xe0\xb3\xe2\xb5\xb5,\xb0\xc5\xb7\xa1\xc0\xcf,\xc0\xfc\xbf\xeb\xb8\xe9\xc0\xfb,\xc3\xfe,\xb0\xc5\xb7\xa1\xb1\xdd\xbe\xd7\n11110,\xbd\xc5\xb5\xbf\xbe\xc6\xba\xed\xb7\xe7\xbe\xc6\xb1\xa4\xc8'

In [129]:
chardet.detect(text[:100])

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [91]:
chardet.detect(text)

{'encoding': 'CP949', 'confidence': 0.99, 'language': 'Korean'}

In [92]:
pd.read_csv(fileName, encoding = 'CP949')

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"
...,...,...,...,...,...,...,...,...,...,...,...
139914,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,11740,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,11740,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,11740,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

pd.read_csv(fileName,
            encoding = 'CP949'
            sep = ',',
            parse_dates = ['거래일'],
            thousands = ',')

In [131]:
%time df2 = pd.read_csv(fileName, encoding = 'CP949', parse_dates = ['거래일'])

CPU times: total: 281 ms
Wall time: 283 ms

In [96]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  datetime64[ns]
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 11.7+ MB

In [133]:
%time df2.to_csv('test.csv', index = False)

CPU times: total: 656 ms
Wall time: 657 ms

In [98]:
%time joblib.dump(value = df2, filename = 'test.z')

CPU times: total: 203 ms
Wall time: 197 ms

['test.z']

In [99]:
%time df3 = joblib.load(filename = 'test.z')

CPU times: total: 93.8 ms
Wall time: 95.7 ms

In [100]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  datetime64[ns]
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 11.7+ MB

In [102]:
df4 = pd.read_csv('test.csv')

In [103]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  object
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 11.7+ MB

In [104]:
joblib.dump(value = [df1, df2, df3], filename = 'testAll.z')

['testAll.z']

In [105]:
joblib.load(filename = 'testAll.z')

[         지역코드             아파트    시도명  시군구  법정동      지번    건축년도        거래일
 0       11110     신동아블루아광화문의꿈  서울특별시  종로구  필운동     254  2007.0 2020-01-03  \
 1       11110  광화문스페이스본(106동)  서울특별시  종로구  사직동     9-1  2008.0 2020-01-02
 2       11110           세종로대우  서울특별시  종로구  내수동     167  1994.0 2020-01-06
 3       11110            킹스매너  서울특별시  종로구  내수동  110-15  2004.0 2020-01-09
 4       11110        경희궁파크팰리스  서울특별시  종로구  내수동      95  2003.0 2020-01-20
 ...       ...             ...    ...  ...  ...     ...     ...        ...
 139914  11740           중앙하이츠  서울특별시  강동구  암사동  493-14  1998.0 2022-12-03
 139915  11740         롯데캐슬퍼스트  서울특별시  강동구  암사동   414-2  2008.0 2022-12-06
 139916  11740         선사현대아파트  서울특별시  강동구  암사동     509  2000.0 2022-12-10
 139917  11740         파크뷰진도맨션  서울특별시  강동구  성내동   452-2  1996.0 2022-12-06
 139918  11740       강동리버스트4단지  서울특별시  강동구  강일동     114  2020.0 2022-12-29

           전용면적   층     거래금액
 0       111.97   6  100,000
 1       163.33   2  162,000
 2       109.91  11   88,000
 3       194.43   4  130,000
 4       148.09   8  149,000
 ...        ...  ..      ...
 139914   59.52   8   53,000
 139915  111.22  10  135,000
 139916   59.64  17   77,000
 139917  208.92  18  145,500
 139918   59.99   7   55,000

 [139919 rows x 11 columns],
          지역코드             아파트    시도명  시군구  법정동      지번    건축년도        거래일
 0       11110     신동아블루아광화문의꿈  서울특별시  종로구  필운동     254  2007.0 2020-01-03  \
 1       11110  광화문스페이스본(106동)  서울특별시  종로구  사직동     9-1  2008.0 2020-01-02
 2       11110           세종로대우  서울특별시  종로구  내수동     167  1994.0 2020-01-06
 3       11110            킹스매너  서울특별시  종로구  내수동  110-15  2004.0 2020-01-09
 4       11110        경희궁파크팰리스  서울특별시  종로구  내수동      95  2003.0 2020-01-20
 ...       ...             ...    ...  ...  ...     ...     ...        ...
 139914  11740           중앙하이츠  서울특별시  강동구  암사동  493-14  1998.0 2022-12-03
 139915  11740         롯데캐슬퍼스트  서울특별시  강동구  암사동   414-2  2008.0 2022-12-06
 139916  11740         선사현대아파트  서울특별시  강동구  암사동     509  2000.0 2022-12-10
 139917  11740         파크뷰진도맨션  서울특별시  강동구  성내동   452-2  1996.0 2022-12-06
 139918  11740       강동리버스트4단지  서울특별시  강동구  강일동     114  2020.0 2022-12-29

           전용면적   층     거래금액
 0       111.97   6  100,000
 1       163.33   2  162,000
 2       109.91  11   88,000
 3       194.43   4  130,000
 4       148.09   8  149,000
 ...        ...  ..      ...
 139914   59.52   8   53,000
 139915  111.22  10  135,000
 139916   59.64  17   77,000
 139917  208.92  18  145,500
 139918   59.99   7   55,000

 [139919 rows x 11 columns],
          지역코드             아파트    시도명  시군구  법정동      지번    건축년도        거래일
 0       11110     신동아블루아광화문의꿈  서울특별시  종로구  필운동     254  2007.0 2020-01-03  \
 1       11110  광화문스페이스본(106동)  서울특별시  종로구  사직동     9-1  2008.0 2020-01-02
 2       11110           세종로대우  서울특별시  종로구  내수동     167  1994.0 2020-01-06
 3       11110            킹스매너  서울특별시  종로구  내수동  110-15  2004.0 2020-01-09
 4       11110        경희궁파크팰리스  서울특별시  종로구  내수동      95  2003.0 2020-01-20
 ...       ...             ...    ...  ...  ...     ...     ...        ...
 139914  11740           중앙하이츠  서울특별시  강동구  암사동  493-14  1998.0 2022-12-03
 139915  11740         롯데캐슬퍼스트  서울특별시  강동구  암사동   414-2  2008.0 2022-12-06
 139916  11740         선사현대아파트  서울특별시  강동구  암사동     509  2000.0 2022-12-10
 139917  11740         파크뷰진도맨션  서울특별시  강동구  성내동   452-2  1996.0 2022-12-06
 139918  11740       강동리버스트4단지  서울특별시  강동구  강일동     114  2020.0 2022-12-29

           전용면적   층     거래금액
 0       111.97   6  100,000
 1       163.33   2  162,000
 2       109.91  11   88,000
 3       194.43   4  130,000
 4       148.09   8  149,000
 ...        ...  ..      ...
 139914   59.52   8   53,000
 139915  111.22  10  135,000
 139916   59.64  17   77,000
 139917  208.92  18  145,500
 139918   59.99   7   55,000

 [139919 rows x 11 columns]]

In [106]:
df11, df21, df31 = joblib.load(filename = 'testAll.z')

In [107]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx',
 'test.csv',
 'test.xlsx',
 'test.z',
 'testAll.z']

In [108]:
files = [file for file in os.listdir() if 'test' in file]
files

['test.csv', 'test.xlsx', 'test.z', 'testAll.z']

In [109]:
for file in files:
    os.remove(path = file)

In [110]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'NA_Sample.xlsx']